/DS01_LC_accepted_2007_to_2018Q4.csv
/DS01_LC_rejected_2007_to_2018Q4.csv
/DS02_default_of_credit_card_clients.xls
/DS03_application_test.csv
/DS03_application_train.csv
/DS03_bureau_balance.csv
/DS03_bureau.csv
/DS03_credit_card_balance.csv
/DS03_installments_payments.csv
/DS03_POS_CASH_balance.csv
/DS03_previous_application.csv
/DS03_sample_submission.csv
